<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sample.board.mysql.mapper.board.BoardMapper">
    <select id="getBoardTotalCount" resultType="Long">
        SELECT COUNT(*)
            FROM  sample_board.boards
            WHERE status = 2
            <if test="searchText != null and searchText != ''">
                AND title LIKE CONCAT(#{searchText}, '%')
            </if>
    </select>

    <select id="getBoardList" resultType="com.sample.board.model.board.BoardRes">
        SELECT b.id
              ,b.account_id
              ,am.login_id
              ,b.title
              ,b.contents
              ,b.status
              ,b.registered_at
              ,b.modified_at
            FROM  sample_board.boards AS b
                  INNER JOIN sample_board.account_managements AS am
                  ON b.account_id = am.id
            <if test="searchText != null and searchText != ''">
                WHERE b.title LIKE CONCAT(#{searchText}, '%')
            </if>
            ORDER BY b.id DESC
            LIMIT #{offset}, #{pageSize};
    </select>

    <select id="getBoardDetail" resultType="com.sample.board.model.board.BoardRes">
        SELECT b.id
              ,b.account_id
              ,am.login_id
              ,b.title
              ,b.contents
              ,b.status
              ,b.registered_at
              ,b.modified_at
            FROM  sample_board.boards AS b
                  INNER JOIN sample_board.account_managements AS am
                  ON b.account_id = am.id
            WHERE b.id = #{contentId}
            LIMIT 1;
    </select>

    <insert id="insertBoardContent" parameterType="com.sample.board.mysql.model.board.Board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sample_board.boards (id, account_id, title, contents)
                                 VALUES (#{id}, #{accountId}, #{title}, #{contents});
    </insert>

    <update id="updateBoardContent">
        UPDATE sample_board.boards
            SET   title       = #{title}
                 ,contents    = #{contents}
                 ,status      = 1
                 ,modified_at = NOW()
            WHERE id = #{contentId}
                AND account_id = #{accountId};
    </update>

    <update id="updateBoardContentStatus">
        UPDATE sample_board.boards
            SET   status = #{status}
            WHERE id = #{contentId};
    </update>
</mapper>